#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, button:active{
    background-color: #D3573C;
    color: black;
}



.modal {
    opacity: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 550px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    padding: 35px;
    /* margin: auto; */
    transform: translate(-50%, -50%);

    z-index: 10;
}

.modalBG {
    position: fixed;
    top: 0;

    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 70%;

    z-index: 9;
}

.modal header {
    /* display: flex; */
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: fit-content;
}

.modal header img {
    cursor: pointer;
    /* position: absolute;
    top: 40px;
    right: 40px; */
}

.modal header h2 {
    font-size: 55px;
    font-weight: normal;
    /* text-align: center; */
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    font-family: "DM Sans";

}


#votre_message {
    resize: none;
    height: 136px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "DM Sans";
}

.photograph-header{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:  50px;
}


.medias_section{
    height: auto;
    margin : 0 100px 20px 100px;
    /* display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center; */
    /* gap: 20px; */
    /* grid-row: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.medias_section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.medias_section img, .medias_section video {
    object-fit: cover;
    height: 330px;
    width: 330px;
    border-radius: 5px;
}

.medias_section article > div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medias_section article div {
    display: flex;
    align-items: center;
}


.medias_section h2 , .medias_section div{
    margin : 0;
    font-size: 18px;
    color : #901C1C;
}


.iconHeart {
    margin-left: 5px;
    font-size: 18px;
    color : #901C1C;
}

.likeButton, .likeButton:hover{
    background-color: white;
    border: none;
    cursor: pointer;
}

/* .date{
    display: none !important;
} */

aside {
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 15%;
    height: 45px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

aside div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53px;
}

.littleHeart{
    margin-left: 5px;
    align-self: center;
}



.block{
    display: block;
}
.none{
    display: none;
}



.trieur {
    height: 48px;
    width: 100%;
    display: flex;
    margin: -20px 100px 30px 100px;
}

.textTrieur{
    height: fit-content;
    margin-right: 20px;
    color: black;
    align-self: center;
    font-weight: bold;

}

.triListe{
    display: none;
}

.triListe a {
    height: 48px;
    color: white;
    text-align: left;
    padding: 15px 50px 15px 15px;
    position: relative;
    font-weight: normal;
    font-size: 16px;
}

.triListe a:hover {
    font-weight: bold;
}

.triListe a:first-of-type::after, .triListe a:nth-of-type(2)::after{
    position: absolute;
    top: 48px;
    left: 10px;
    content: "";
    height: 1px;
    width: 150px;
    background-color: white;
}

.triStyle{
    position: absolute;
    min-height: 48px;    
    height: fit-content;
    padding: 0;
}
.triStyle:hover{
    background-color: #901C1C;
}
.triStyle:hover .triListe {
    display: flex;
    flex-direction: column;

}
