#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, button:active{
    background-color: #D3573C;
    color: black;
}



.modal {
    opacity: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 550px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    padding: 35px;
    /* margin: auto; */
    transform: translate(-50%, -50%);

    z-index: 10;
}

.modalBG {
    position: fixed;
    top: 0;

    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 70%;

    z-index: 9;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    font-family: "DM Sans";

}


#votre_message {
    resize: none;
    height: 136px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "DM Sans";
}

.photograph-header{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:  50px;
}


.medias_section{
    height: auto;
    margin : 0 100px;
    /* display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center; */
    /* gap: 20px; */
    /* grid-row: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.medias_section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.medias_section img, .medias_section video {
    object-fit: cover;
    height: 330px;
    width: 330px;
    border-radius: 5px;
}

.medias_section article div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.medias_section h2 , .medias_section div{
    margin : 0;
    font-size: 18px;
    color : #901C1C;
}

.iconHeart {
    margin-left: 5px;
    font-size: 18px;
    color : #901C1C;
}

.likeButton, .likeButton:hover{
    background-color: white;
    border: none;
    cursor: pointer;
}

aside {
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 15%;
    height: 45px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.littleHeart{
    margin-left: 5px;
}



.block{
    display: block;
}
.none{
    display: none;
}