#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    /* margin: 0 100px; */
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

button:hover, button:active{
    background-color: #D3573C;
    color: black;
}

.hoverActive{
    background-color: #D3573C;
    color: black;
}



.modal {
    /* opacity: 100%; */
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 550px;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    padding: 35px;
    /* margin: auto; */
    transform: translate(-50%, -50%);

    z-index: 10;
}

.modalBG {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 70%;

    z-index: 9;
}

.modal header {
    /* display: flex; */
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: fit-content;
}

.modal header img {
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 40px;
}

.modal header h2 {
    font-size: 55px;
    font-weight: normal;
    /* text-align: center; */
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label{
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 20px;
    font-family: "DM Sans";

}


#votre_message {
    resize: none;
    height: 136px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: "DM Sans";
}

.modalValidation{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

}

.validationText{
    /* position: absolute;
    top: 80px; */
    color: #312E2E;
    font-size: 36px;
    margin-top: 40px;
    /* margin-bottom: 50px; */
}


.photograph-header{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    width: 1200px;
}



.medias_section{
    width: 1275px;
    overflow: hidden;
    height: auto;
    margin: auto;
    margin-bottom:  15px;
    /* margin : 0 100px 20px 100px; */
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: center;
    /* gap: 20px; */
    /* grid-row: auto; */
    
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}

.medias_section article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 35px;
    width: 350px;
    margin-right: 75px;
}

.medias_section img, .medias_section video {
    object-fit: cover;
    height: 350px;
    width: 350px;
    border-radius: 5px;
}

.medias_section article > div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medias_section article div {
    display: flex;
    align-items: center;
}


.medias_section h2 , .medias_section div{
    margin : 0;
    font-size: 18px;
    color : #901C1C;
}


.iconHeart {
    margin-left: 5px;
    font-size: 18px;
    color : #901C1C;
    font-weight: normal;
}

.likeButton, .likeButton:hover{
    background-color: white;
    border: none;
    cursor: pointer;
}

/* .date{
    display: none !important;
} */

aside {
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 15%;
    height: 45px;
    width: 270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

aside div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 53px;
}

.littleHeart{
    margin-left: 5px;
    align-self: center;
}



.block{
    display: block;
}
.none{
    display: none;
}


.triListeBG{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 8;
}

.trieur {
    height: 48px;
    width: 100%;
    display: flex;
    margin-bottom: 60px;
    position: relative;
    justify-content: flex-start ;
}


.textTrieur {
    font-weight: bold;
    text-align: left;
    width: auto;
    display: flex;
    align-items: center;
}
.triButton{
    margin : auto;
    left: 75px;
    position: absolute;
    height: 70px;
    margin-top: -10px;
}
.triButtonText{
    text-align: left;
}

.triListe{
    z-index: 9;
    margin-top: -10px;
    left: 75px;
    width: 170px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    background-color: #901C1C;
}

.triListe li {
    display: flex;
    height: 50px;
}
.triListe li:hover{
    font-weight: bold;
}


.triListe li a {
    position: relative;
    width: 120px;
    display: flex;
    align-items: center;
}

.dropDownItem:first-of-type a::after, .dropDownItem:nth-of-type(2) a::after{
    position: absolute;
    top: 50px;
    left: 0;
    content: "";
    height: 1px;
    width: 150px;
    background-color: white;
}

.fa-chevron-down{
    text-align: center;
    height: 70px;
    width: 40px;
    position: absolute;
    left: 205px;
    top: -10px;
    padding-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    z-index: 9;
}


.rotate{
    transform: rotate(180deg);
}


article img, article video {
    cursor: pointer;
}



.lightBox{
    position: fixed;
    top: 10vh;
    left: 10vw;
    height: 85vh;
    width: 80vw;
    background-color: white;
    z-index: 10;
}

.exit {
    position: absolute;
    top: 35px;
    right: 35px;
    cursor: pointer;
}

.fa-chevron-right, .fa-chevron-left {
    color: #901C1C;
    font-size: 42px;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.fa-chevron-right{
    right: 35px;
}

.fa-chevron-left{
    left: 35px;
    text-align: right;
}

.lightBoxMedia{
    position: absolute;
    height: 80%;
    width: 80%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
}
.lightBox .exit{
    height: 30px;
}

.lightBoxMedia img, .lightBoxMedia video{
    object-fit: contain;
    /* height: 100%; */
    width: 100%;
}


.lightBoxMediaTitle{
    position: absolute;
    height: 5%;
    width: 80%;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    padding-left: 10px;
}

.lightBox p{
    color: #901C1C;
}

