@import url("photographer.css");


*{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

/* *:focus{
    outline: 1px solid black;
} */

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 5px;
}
ul, li {
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 1200px;
    overflow-x: hidden;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    /* margin-right: 100px; */
}

.screenreader-text{
    position: absolute;
   left: -10000em;
   top: auto;
   width: 1px;
   height: 1px;
   overflow: hidden;
}


.logo {
    height: 50px;
    /* margin-left: 100px; */
    /* padding-left: 10px; */
}

.photographer_section {
    margin: auto;
    width: 1650px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    height: 80vh;
}

.photographer_section article{
    transform: translateX(-50px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin-right: 200px;
}

.photographer_section article a, .photographer_section article div, .photographer_section article h2 {
    text-align: center;
    width: 300px;
}

.photographer_section article h2, .photograph-header h2 {
    color: #D3573C;
    font-size: 34px;
    margin-bottom: 5px;
}

.photographer_section article img, .photograph-header img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
}

.photographer_section article div {
    text-align: center;
    font-size: 14px;
}

.cityCountry{
    color: #901C1C;
    font-size: 16px;
}


